name: Glue Schema Deployment (CLI only)

on:
  workflow_dispatch:
    inputs:
      region:
        description: "AWS region to deploy"
        required: true
        default: "us-west-2"
        type: string

jobs:
  glue_schema_setup:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ inputs.region }}

      - name: Deploy Glue Schemas (CLI only)
        run: |
          set -e

          SCHEMA_DIR="schema"
          REGISTRY_NAME="d2cSchemaRegistry"
          REGION="${{ inputs.region }}"

          created_count=0
          updated_count=0
          created_names=()
          updated_names=()

          aws glue delete-schema \
          --schema-id SchemaName="user",RegistryName="d2cSchemaRegistry"
  
          # Check if registry exists
          if ! aws glue get-registry --registry-id RegistryName=$REGISTRY_NAME >/dev/null 2>&1; then
            echo "*** ERROR: Glue Registry '$REGISTRY_NAME' does not exist in region $REGION. Cannot continue. ***"
            exit 1
          fi
          echo "Registry '$REGISTRY_NAME' exists."

          for SCHEMA_FILE in "$SCHEMA_DIR"/*.json; do
            SCHEMA_NAME=$(basename "$SCHEMA_FILE" .json)

            # Check if schema exists
            if aws glue get-schema --schema-id SchemaName="$SCHEMA_NAME",RegistryName="$REGISTRY_NAME" >/dev/null 2>&1; then
              echo "Schema exists → Registering new version for schema $SCHEMA_NAME"
              aws glue register-schema-version \
                --schema-id SchemaName="$SCHEMA_NAME",RegistryName="$REGISTRY_NAME" \
                --schema-definition file://"$SCHEMA_FILE"
                updated_count=$((updated_count + 1))
                updated_names+=("$SCHEMA_NAME")
            else
              echo "Schema does not exist → Creating schema $SCHEMA_NAME"
              aws glue create-schema \
                --registry-id RegistryName="$REGISTRY_NAME" \
                --schema-name "$SCHEMA_NAME" \
                --data-format JSON \
                --compatibility NONE \
                --schema-definition file://"$SCHEMA_FILE"
                created_count=$((created_count + 1))
                created_names+=("$SCHEMA_NAME")
            fi
          done

          echo "----------------------------------------"
          echo "Schemas Created: $created_count"
          for name in "${created_names[@]}"; do
          echo "  - $name"
          done
          echo "----------------------------------------"
          echo ""
          
          echo "----------------------------------------"
          echo "Schema Versions Registered (Updated): $updated_count"
          for name in "${updated_names[@]}"; do
          echo "  - $name"
          done
          echo "----------------------------------------"
          echo ""
          
          echo "*** Glue Schema Deployment Completed Successfully ***"
         
